<!-- jinja sub-template for posts -->

<!doctype html>
<html lang="en">
<div class="block {% if post.completed == True %}completed{% endif %}">
    <div id="post-details">
       <img src="{{ post.author.avatar(128) }}" alt="Author's avatar">
       <div id="details-text">
         <a style="color:#212529" href="/user/{{ post.author.username }}"><span id="author-name">{{ post.author.username }} {% if current_user.user_id == post.owner_id%} (You){% endif %}</span></a>
       <span id="date">{{ post.date.strftime("%A, %d %B %Y %I:%M:%S %p") }}</span>
       </div>
    </div>
    <p id="post-message">{{ post.message }}</p>

    <h4> Cards gave up </h4>
    <div class="cards-container">
    {% for card in post.cards_traded %}
    <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}"></custom-card>
    {% endfor %}
    </div>

    <h4> Cards received </h4>
    <div class="cards-container">
    {% for card in post.cards_wanted %}
    <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}"></custom-card>
    {% endfor %}
    </div>

    {% if current_user.is_authenticated and post.completed != True and current_user.user_id != post.owner_id %}
    <form class="trade-form">
       <input type="hidden" name="post_id" value="{{ post.post_id }}">
       <input type="hidden" name="trade_user" value="{{ current_user }}">
       <button type="button" class="btn btn-primary trade-btn">Trade</button>
    </form>
    {% endif %}

    {% if post.completed == True %}
    <h4 style="color:green; font-size: 20px;">Trade Completed!</h4>
    {% endif %}

 </div>