<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Card Trading</title>
      {% endif %}

      <!-- Include Boostrap CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />

      <!-- Custom CSS Stylesheets -->

      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/marketplace.css">
      <link rel="stylesheet" href="../static/css/card.css">
      <link rel="stylesheet" href="../static/css/account.css">

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

      <!-- Include font awesome CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />

      <!-- Include JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
      <!-- JavaScript -->
      <script src="../static/js/script.js"></script>
      <script src="../static/js/trade.js"></script>
      
    </head>
    <body>
  
        <div id="header">
            <a href="/index"><img src="../static/img/logo.svg"></a>

            <div id="nav">
                <a href="/index" class="nav-btn">Marketplace</a>
                <a href="/how_it_works" class="nav-btn">How it Works</a>
                <a href="/packs" class="nav-btn">Packs</a>
                
            </div>

            <div id="auth">
              {% if current_user.is_authenticated %}
              <div id="header-profile">
                <a href="/logout" class="btn-primary-btn">Logout</a>
                <a href="{{ url_for('routes.user', username=current_user.username) }}" class="nav-btn profile-btn">
                  <img src="{{ current_user.avatar(32) }}" id="header-pfp">
                  <span>{{ current_user.username }}</span>
                </a>
              </div>
              {% else %}
                <a href="/login" class="btn primary-btn">Log in</a>
                <a href="/signup" class="btn secondary-btn">Sign up</a>
              {% endif %}
            </div>
            
        </div>

        <div id="container">
        {% block content %}{% endblock %}
        </div>

    </body>
</html>
