{% extends "base.html" %}

{% block content %}
   <!-- Write all HTML code here -->
   <h1>This is where you purchase packs!</h1>
   <p> Choose one of our packs:</p>


   <button id="free_pack_button" class="btn-primary-btn">Loading...</button>

   <div id="packItemsContainer"></div>
   {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block scripts %}
   <script>
      var remaining_time = {{ remaining_time }};
      console.log(remaining_time);
      startCountdownTimer(remaining_time);

      console.log("L")
      document.getElementById("free_pack_button").addEventListener('click', function () {
         console.log("e")
         fetch('/open_pack')
            .then(response => response.text())
            .then(html => {
               if (html == "None") {
                  location.reload();
               }
               else{
                  document.getElementById('packItemsContainer').innerHTML = html;
               }
            })
         });

      function startCountdownTimer(duration) {
          var timer = duration, hours, minutes, seconds;
          //Coutdown for daily pack
          var countdown = setInterval(function () {
              hours = parseInt(timer / 3600, 10);
              minutes = parseInt((timer % 3600) / 60, 10);
              seconds = parseInt(timer % 60, 10);

              hours = hours < 10 ? "0" + hours : hours;
              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;

              document.getElementById("free_pack_button").textContent = "Next free pack in: " + hours + ":" + minutes + ":" + seconds;

              if (--timer < 0) {
                  timer = duration;
                  clearInterval(countdown);
                  document.getElementById("free_pack_button").textContent = "Daily Free Pack!";
              }
          }, 1000);
      }   
   </script>
{% endblock %}