{% extends "base.html" %}

{% block content %}
{% if current_user.cards|length == 0 %}
    <p> You don't have any cards! </p>

{% else %}
<form method="POST" class="center-form">
<h3>New Post!</h3>
<div class="form-group">
    <label for="message">Post body</label>
    <br />
    <input
    type="text"
    class="form-control"
    id="message"
    name="message"
    placeholder="Write your message here..."
    />
</div>
<div class="form-group">

    <label for="cards_traded">Cards to give up:</label><br>
    <div class="cards-container">
    {% for card in current_user.cards %}
    <div class="card-choice">
    <label for="{{'traded_' ~ card.card_id }}"><img src="{{ card.url }}" alt="{{ card.name }}"></label>
    <input type="checkbox" id="{{'traded_' ~ card.card_id }}" name="cards_traded" value="{{ card.card_id }}">
    </div>
     {% endfor %}
    </div>
        
    
    <label for="cards_wanted">Cards you want:</label><br>
    <div class="cards-container">
    {% for card in cards %}
    <div class="card-choice">
    <label for="{{'wanted_' ~ card.card_id }}"><img src="{{ card.url }}" alt="{{ card.name }}"></label>
    <input type="checkbox" id="{{'wanted_' ~ card.card_id }}" name="cards_wanted" value="{{ card.card_id }}">
    </div>
    {% endfor %}
    </div> 
   
</div>
<br />

<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}