{% extends "base.html" %}

{% block content %}

{% if current_user.cards_owned == None %}
    <p> You don't have any cards! </p>

{% else %}
<div class="block">
    <form method="POST" class="center-form">
    <h3>Write a new post!</h3>
    <div class="form-group">
        <label for="message">Post message:</label>
        <br />
        <input
        type="text"
        class="form-control block-input-field"
        id="message"
        name="message"
        placeholder="Write your message here..."
        />
    </div>
    <div class="form-group">

        <label for="cards_traded"><h4>Which cards do you want to trade?</h4></label><br>
        <div class="cards-container">
        {% for card in current_user.cards %}
        <div class="card-choice">
        <label for="{{'traded_' ~ card.card_id }}">
            <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}" style="margin:auto"></custom-card>
        </label>
        <input type="checkbox" id="{{'traded_' ~ card.card_id }}" name="cards_traded" value="{{ card.card_id }}">
        </div>
        {% endfor %}
        </div>
            
        
        <label for="cards_wanted"><h4>What cards do you want to trade for?</h4></label><br>
        <div class="cards-container">
        {% for card in cards %}
        <div class="card-choice">
        <label for="{{'wanted_' ~ card.card_id }}">
            <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}" style="margin:auto"></custom-card>
        </label>
        <input type="checkbox" id="{{'wanted_' ~ card.card_id }}" name="cards_wanted" value="{{ card.card_id }}">
        </div>
        {% endfor %}
        </div> 
    
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endif %}
{% endblock %}