{% extends "base.html" %}

{% block content %}
{% if current_user.cards|length == 0 %}
    <p> You don't have any cards! </p>

{% else %}
<div class="block">
    <form method="POST" class="center-form">
        {{ form.hidden_tag() }}
    <h3>Write a new post!</h3>
    <div class="form-group">
        <label for="message">Post message:</label>
        <input
        type="text"
        class="form-control block-input-field"
        id="message"
        name="message"
        placeholder="Write your message here..."
        >
    </div>
    <div class="form-group">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h4><label for="cards_traded">Cards to give up:</label></h4><br>
        <div class="cards-container">
        {% for card in current_user.cards %}
        <div class="card-choice">
        <label for="{{'traded_' ~ card.card_id }}">
            <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}" style="margin:auto" quantity="{{ current_user.cards.get(card) }}"></custom-card>
        </label>
        <input type="checkbox" id="{{'traded_' ~ card.card_id }}" name="cards_traded" value="{{ card.card_id }}">
        </div>
        {% endfor %}
        </div>
            
        
        <h4><label for="cards_wanted">Cards wanted:</label></h4><br>
        <div class="cards-container">
        {% for card in cards %}
        <div class="card-choice">
        <label for="{{'wanted_' ~ card.card_id }}">
            <custom-card name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}" style="margin:auto"></custom-card>
        </label>
        <input type="checkbox" id="{{'wanted_' ~ card.card_id }}" name="cards_wanted" value="{{ card.card_id }}">
        </div>
        {% endfor %}
        </div> 
    
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endif %}
{% endblock %}