{% extends "base.html" %}

{% block content %}
   <h1>How it works!</h1>
   <h6>SoundSwap is a trading card game for music lovers! Collect your favourite albums and trade them with friends!</h6>
   </br>
   <p>
      To get your first cards, open your Daily Pack! Daily Packs can be opened once every 24 hours, and contain a small selection of
      cards and some free money. Money can be used to purchase gold packs, which contain cards of higher rarity! To check out your collection, 
      click on your profile picture/balance.
      Once you have some cards, you can trade them with other users on the marketplace! Open the marketplace tab and click 'Make a post'. Then,
      select which cards you want to offer and receive!
   </p>
   
{% endblock %}