{% extends "base.html" %}

{% block content %}
<div class="block account">
<img src="{{ user.avatar(128) }}">
<h1>{{ user.username }}</h1>
{% if user.about %}<p>{{ user.about }}</p>{% endif %}

<h3>{{ user.username }}'s Collection: {{ n_owned }}/{{ n_cards }}</h3>
<div class="cards-container">
{% for card in cards %}
    <custom-card {% if card not in user.cards.keys() %} class="not_owned" {% endif %} name="{{ card.name }}" year="{{ card.year }}" artist="{{ card.artist }}" rarity="{{ card.rarity }}" img="{{ card.url }}" quantity="{{ current_user.cards.get(card) }}"></custom-card>
{% endfor %}
</div>

<h3>{{ user.username }}'s posts:</h3>
{% for post in user.posts %}
    {% include '_post.html' %}
{% endfor %}
{% if n_posts == 0 %}
    <h4>No posts yet! </h4>
{% endif %}
</div>
{% endblock %}